{% extends 'base.html.twig' %}

{% block body %}
	<h1>Bienvenue dans ce blog</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam porro, rem quos nisi similique sit nihil mollitia repellendus cupiditate? Magnam doloribus, maiores amet temporibus animi minus id placeat, perferendis obcaecati praesentium expedita molestiae omnis vitae incidunt itaque, dolore similique, numquam.</p>
	<p>Reprehenderit id, nemo perspiciatis totam eius doloremque consequatur dignissimos obcaecati dicta, rerum eligendi libero repudiandae repellat vel veritatis facere possimus architecto non tenetur voluptatum excepturi omnis eum. Recusandae alias molestias impedit vel odit tempora ducimus a ullam perspiciatis aliquam! Natus!</p>
{% endblock %}